/* src/styles/App.css */
@import './colors.css';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--black);
  color: var(--white);
}

header {
  background-color: var(--dark-blue);
  color: var(--white);
  padding: 2em 0;
  text-align: center;
}

header img {
  border: 5px solid var(--light-grey);
}

header h1 {
  font-size: 3em;
  margin: 0.5em 0;
}

header p {
  font-size: 1.2em;
  margin: 0.5em 0;
}

section {
  padding: 4em 2em;
  max-width: 800px;
  margin: 2em auto;
  background: var(--light-grey);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  color: var(--black);
}

h2 {
  font-size: 2em;
  color: var(--dark-blue);
  margin-bottom: 0.5em;
  border-bottom: 2px solid var(--dark-blue);
  padding-bottom: 0.5em;
}

.project-list {
  display: flex;
  flex-direction: column;
}

.project-item {
  background-color: var(--light-grey);
  margin: 1em 0;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-item h3 {
  color: var(--dark-blue);
  margin-top: 0;
}

footer {
  background-color: var(--dark-blue);
  color: var(--white);
  text-align: center;
  padding: 1em 0;
}

a {
  color: var(--dark-blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: var(--dark-blue);
  color: var(--white);
  border: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: lighten(var(--dark-blue), 10%);
}