/* src/styles/colors.css */
:root {
    --very-light-grey: #f8f9fa;
    --light-grey: #e9ecef;
    --grey: #ced4da;
    --dark-grey: #6c757d;
    --very-dark-grey: #212529;
    --text-light: #ffffff;
}